.snackbar{
    background: #000;
    color: #fff;
    border-radius: 4px;
    position: fixed;
    bottom: 0px;
    left: 20px;
    padding: 15px;
    font-size: 16pt;
    z-index: 6;
    opacity: 0;
    pointer-events: none;
    transition: bottom 0.15s ease;
    width: fit-content;
}

.snackbar.show{
    pointer-events: auto;
    opacity: 1;
    bottom: 20px;
}

@media screen and (max-width: 750px){

    .snackbar{
        left: 50%;
        transform: translate(-50%);
    }

}